.header {
  @extend .container;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  &__logo {
    color: $candy-apple;
    font-family: $logoFont;
    font-size: 3rem;

    @include breakpoint(desktop) {
      font-size: 3.5rem;
    }
  }
}
