.list {
  @extend .container;

  display: grid;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  margin: 40px auto;

  @include breakpoint(tablet) {
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(desktop) {
    grid-template-columns: repeat(4, 1fr);
  }

  &__noresult {
    grid-column: 1/5;
    color: $candy-apple;
    font-family: $textFont;
    font-size: 2.4rem;
    text-align: left;
  }
}
